.form-block {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10001;
  background: rgb(239, 245, 239);

  box-shadow: 0 4px 4px 0 rgba(60, 64, 67, 0.3),
    0 8px 12px 6px rgba(60, 64, 67, 0.15);
  font-size: 25px;
  color: rgb(21, 21, 87);
  border-radius: 5px;

  @media (min-width: 576px) {
    padding: 80px;
    width: 60%;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn {
    width: 100%;
    padding: 10px;
  }

  input,
  select {
    width: 100%;

    @media (min-width: 992px) {
      width: 30%;
    }
  }

  &__bit {
    padding: 10px 0;
    display: flex;
    flex-direction: column;

    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .close-btn {
    font-size: 30px;
  }
}
