.container_massage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
}

.massage {
  font-size: 20px;

  @media (min-width: 576px) {
    font-size: 30px;
  }

  &__item {
    color: rgb(120, 30, 30);
  }

  &__btn {
    margin-top: 20px;
    width: 60%;
    min-width: px;

    @media (min-width: 576px) {
      width: 40%;
    }
  }
}
